<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h2>글쓰기</h2>
    <a href="#" id="home">홈으로</a>
    <form>
        <table>
            <tr>
                <td>글번호</td>
                <td></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" id="title"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td><input type="text" id="writeId"></td>
            </tr>
            <tr>
                <td>작성일</td>
                <td><input type="text" id="regDate"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><input type="text" id="content"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="write-btn">글쓰기</button>
                    <button id="cancle-btn">취소</button>
                </td>
            </tr>
        </table>
    </form>
    <script>
        document.getElementById('home').addEventListener("click", e => {
            location.href = '/'
        })
    </script>
</body>
</html>